In [3]:
import numpy as np 
import pandas as pd
df=pd.DataFrame({'Name':['Alice','Bob','Charlie','Alice','Bob','Charlie'],'Category':['A','B','C','A','B','C'],
                'Value':np.random.randint(1,5,size=6),
                'Score':np.random.randint(60,100,size=6)})
print("\n Orginal DataFrame:\n",df)
df1=df.groupby(('Name'),as_index=False)['Value'].sum()
print("\n Group and aggregate with one column:\n",df1)

 Orginal DataFrame:
       Name Category  Value  Score
0    Alice        A      1     60
1      Bob        B      2     97
2  Charlie        C      3     71
3    Alice        A      3     62
4      Bob        B      3     65
5  Charlie        C      3     64

 Group and aggregate with one column:
       Name  Value
0    Alice      4
1      Bob      5
2  Charlie      6

In [7]:
df2=df.groupby(('Name'),as_index=False)[['Value','Score']].sum()
print("\n Group and aggregate with two column sum:\n",df2)

 Group and aggregate with two column sum:
       Name  Value  Score
0    Alice      4    122
1      Bob      5    162
2  Charlie      6    135

In [8]:
df3=df.groupby(('Name'),as_index=False)[['Value','Score']].agg('sum')
print("\n Group and Aggregated with one column:\n",df3)

 Group and Aggregated with one column:
       Name  Value  Score
0    Alice      4    122
1      Bob      5    162
2  Charlie      6    135

In [9]:
df4=df.groupby('Name').agg({'Value':['sum','mean','mean','min','max'],
                            'Score':['sum','mean']})
print("\n Group by name and multiple aggregation:\n",df4)

 Group by name and multiple aggregation:
         Value                   Score
          sum mean mean min max   sum  mean
Name
Alice       4  2.0  2.0   1   3   122  61.0
Bob         5  2.5  2.5   2   3   162  81.0
Charlie     6  3.0  3.0   3   3   135  67.5

In [10]:
df5=df.groupby(('Name'),as_index=False)['Value'].count()
print('\n Group and count:\n',df5)

 Group and count:
       Name  Value
0    Alice      2
1      Bob      2
2  Charlie      2

In [11]:
df6=df.groupby(('Name')).count()
print('\n Group and count:\n',df6)

 Group and count:
          Category  Value  Score
Name
Alice           2      2      2
Bob             2      2      2
Charlie         2      2      2

In [12]:
df7=df.groupby(('Name'),as_index=False)['Value'].first()
print("\n Group and display from first:\n",df7)
df8=df.groupby(('Name')).first()
print("\n Group and display from first:\n",df8)

 Group and display from first:
       Name  Value
0    Alice      1
1      Bob      2
2  Charlie      3

 Group and display from first:
         Category  Value  Score
Name
Alice          A      1     60
Bob            B      2     97
Charlie        C      3     71

In [14]:
df9=df.groupby(('Name'),as_index=False)['Value'].last()
print("\n Group and display from last:\n",df9)
df10=df.groupby(('Name')).last()
print("\n Group and display from last:\n",df10)

 Group and display from last:
       Name  Value
0    Alice      3
1      Bob      3
2  Charlie      3

 Group and display from last:
         Category  Value  Score
Name
Alice          A      3     62
Bob            B      3     65
Charlie        C      3     64

In [16]:
df11=df.groupby(('Name'),as_index=False)['Value'].size()
print("\n Group and display from size:\n",df11)
df12=df.groupby(('Name')).size()
print("\n Group and display from size:\n",df12)

 Group and display from size:
       Name  size
0    Alice     2
1      Bob     2
2  Charlie     2

 Group and display from size:
 Name
Alice      2
Bob        2
Charlie    2
dtype: int64