In [2]:
import pandas as pd
#assign data
data={'name':['sai','yuva','poo','savi','raj','ruba','rabi'],
     'age':['20','18','19','20','18','17','19'],
     'gender':['M','F','M','F','F','M','M'],
     'marks':[90,76,'NaN',74,65,'NaN',71]}
df=pd.DataFrame(data)
print("original dataframe:\n",df)
c=avg=0
for ele in df['marks']:
    if str(ele).isnumeric():
       c+=1
       avg+=ele
       avg/=c
       df=df.replace(to_replace='NaN',value=avg)
print("\nReplacing NaN with average marks:\n",df)

original dataframe:
    name age gender marks
0   sai  20      M    90
1  yuva  18      F    76
2   poo  19      M   NaN
3  savi  20      F    74
4   raj  18      F    65
5  ruba  17      M   NaN
6  rabi  19      M    71

Replacing NaN with average marks:
    name age gender  marks
0   sai  20      M   90.0
1  yuva  18      F   76.0
2   poo  19      M   90.0
3  savi  20      F   74.0
4   raj  18      F   65.0
5  ruba  17      M   90.0
6  rabi  19      M   71.0

In [3]:
df=df[df['marks']>=75]
df=df.drop(['age'],axis=1)
print("\n Filtering and dropping function:\n",df)

 Filtering and dropping function:
    name gender  marks
0   sai      M   90.0
1  yuva      F   76.0
2   poo      M   90.0
5  ruba      M   90.0

In [4]:
one=pd.DataFrame({'name':['sai','raj','yuva','ram','sam'],
                 'subject_id':['sub1','sub2','sub3','sub4','sub5'],
                 'marks_scored':[98,90,92,85,89]},
                index=[1,2,3,4,5])
two=pd.DataFrame({'name':['sanju','ravi','shree','rahul','niki'],
                  'subject_id':['sub2','sub4','sub3','sub6','sub5'],
                  'marks_scored':[73,80,85,98,79]},
                index=[1,2,3,4,5])
print("\n original dataframe1:\n",one)
print("original dataframe2:\n",two)
print(pd.concat([one,two]))

 original dataframe1:
    name subject_id  marks_scored
1   sai       sub1            98
2   raj       sub2            90
3  yuva       sub3            92
4   ram       sub4            85
5   sam       sub5            89
original dataframe2:
     name subject_id  marks_scored
1  sanju       sub2            73
2   ravi       sub4            80
3  shree       sub3            85
4  rahul       sub6            98
5   niki       sub5            79
    name subject_id  marks_scored
1    sai       sub1            98
2    raj       sub2            90
3   yuva       sub3            92
4    ram       sub4            85
5    sam       sub5            89
1  sanju       sub2            73
2   ravi       sub4            80
3  shree       sub3            85
4  rahul       sub6            98
5   niki       sub5            79