In [15]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','d','f'],
               columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f'])
print("original dataframe with NaN\n",df)
print("\n")
print("dropped dataframe\n",df.dropna())
print("\n")

original dataframe with NaN
         one       two     three
a  0.971870 -0.577832 -1.673703
b       NaN       NaN       NaN
c  0.557438 -0.688211 -0.797457
d -0.070131  0.170472 -0.790884
e       NaN       NaN       NaN
f  0.491713 -0.831198 -0.581854


dropped dataframe
         one       two     three
a  0.971870 -0.577832 -1.673703
c  0.557438 -0.688211 -0.797457
d -0.070131  0.170472 -0.790884
f  0.491713 -0.831198 -0.581854

In [16]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','d','f'],
               columns=['one','two','three'])
df=df.reindex(['a','b','c'])
print("original dataframe with NaN\n",df)
print("\n")
print("dropped dataframe\n",df.fillna(0))
print("\n")

original dataframe with NaN
         one       two     three
a -0.580284  0.702118  0.379647
b       NaN       NaN       NaN
c -0.348187  0.560608  0.132306


dropped dataframe
         one       two     three
a -0.580284  0.702118  0.379647
b  0.000000  0.000000  0.000000
c -0.348187  0.560608  0.132306

In [17]:
df=pd.DataFrame({'one':[10,20,30,40,50],
                'two':[60,70,80,90,10]})
print("original dataframe:\n",df)
print("\n dataframe with replaced values:\n")
print(df.replace({10:5,80:3}))

original dataframe:
    one  two
0   10   60
1   20   70
2   30   80
3   40   90
4   50   10

 dataframe with replaced values:

   one  two
0    5   60
1   20   70
2   30    3
3   40   90
4   50    5

In [18]:
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','d','f'],
               columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f'])
print("Original DataFrame:\n",df)
print("\n NaN with truefil:\n")
print(df['one'].isnull())

Original DataFrame:
         one       two     three
a  0.366913  0.672094  1.326900
b       NaN       NaN       NaN
c  0.574056 -0.267395 -0.386263
d  1.644355 -0.326856  0.745961
e       NaN       NaN       NaN
f  1.325281 -1.547745 -1.980921

 NaN with truefil:

a    False
b     True
c    False
d    False
e     True
f    False
Name: one, dtype: bool

In [19]:
print("\n NaN filled with Background values:\n")
print(df.fillna(method='bfill'))

 NaN filled with Background values:

        one       two     three
a  0.366913  0.672094  1.326900
b  0.574056 -0.267395 -0.386263
c  0.574056 -0.267395 -0.386263
d  1.644355 -0.326856  0.745961
e  1.325281 -1.547745 -1.980921
f  1.325281 -1.547745 -1.980921